.rpg {
  position: relative;
  overflow: hidden;
  font-size: 12px;
}

.rpg .viewport,
.rpg .ui {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; /* no visible scrollbars, but scrollable using JS */
}

.rpg .ui {
  z-index: 999999;
  pointer-events: none;
}

.rpg .ui > * {
  pointer-events: auto;
}

.rpg .msgbox {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 32px;
  border-width: 3px;
  border-image: url("msgbox.png") 7;
  border-style: solid;
  padding: 8px 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.rpg .msgbox > .cursor {
  display: inline-block;
  transform: scale(80%);
  margin-left: 4px;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%, 50%, to { opacity: 1 }
  25%, 75% { opacity: 0 }
}

.rpg .tilemap {
  position: relative;
  width: calc(var(--rpg-tmw) * var(--rpg-tw));
  height: calc(var(--rpg-tmh) * var(--rpg-th));
  background-image: var(--rpg-bg);
}

.rpg .tile,
.rpg .trap {
  position: absolute;
  left: calc(var(--rpg-x) * var(--rpg-tw));
  top: calc(var(--rpg-y) * var(--rpg-th));
  width: var(--rpg-tw);
  height: var(--rpg-th);
}

.rpg .tile {
  background-image: var(--rpg-tileset);
  background-position: calc(-1 * var(--rpg-tx) * var(--rpg-tw)) calc(-1 * var(--rpg-ty) * var(--rpg-th));
  z-index: calc(var(--rpg-layer, 0) * var(--rpg-layer-size, 1000) + var(--rpg-high-tile, 0) + var(--rpg-y));
}

.rpg .sprite {
  position: absolute;
  left: calc(var(--rpg-x) * var(--rpg-tw));
  top: calc(var(--rpg-y) * var(--rpg-th));
  width: var(--rpg-tw);
  height: var(--rpg-th);
  z-index: calc(var(--rpg-layer, 0) * var(--rpg-layer-size, 1000) + var(--rpg-y));
}

.rpg .sprite.hero {
  z-index: calc(var(--rpg-layer, 0) * var(--rpg-layer-size, 1000) + var(--rpg-y) + 1);
}

.rpg .sprite-internal {
  position: absolute;
  left: calc(-1 * (var(--rpg-sw) - var(--rpg-tw)) / 2);
  top: calc(-1 * var(--rpg-sh) + var(--rpg-th));
  width: var(--rpg-sw);
  height: var(--rpg-sh);
  background-image: var(--rpg-sprite);
  background-position-y: calc(var(--rpg-sy) * var(--rpg-sh));
}

.rpg .sprite.animate .sprite-internal,
.rpg .sprite.walking .sprite-internal {
  animation: frames steps(4, end) infinite;
  animation-duration: var(--rpg-anim-duration, 0.7s);
}

@keyframes frames {
  to {
    background-position-x: calc(-4 * var(--rpg-sw));
  }
}

.rpg .sprite.walking {
  transition: var(--rpg-walk-duration, 0.5s) linear left, var(--rpg-walk-duration, 0.5s) linear top;
}
